@inject IConfiguration config

@{
    AppConfig appConfig = config?.GetSection("Project").Get<AppConfig>();
}

<meta charset="utf-8" />
<title>@appConfig?.InfoProject.ProjectName</title>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.8/jquery.inputmask.min.js"></script>   @* Используем jQuery для соаздания маски *@