<div class="ReferenceContainer">
	<div class="Partinfo">
		<img src="~/img/Search.png">
		<span> - Для поиска клиента можно использовать специальное поле, которое позволяет отсортировать данные по номеру телефона. Пример: +799999999</span>
	</div> 

	<div class="Partinfo">
		<img src="~/img/dell.png">
		<span> - Cистема предоставляет возможность безвозвратно удалить данные из БД</span>
	</div>

	<div class="Partinfo">
		<img src="~/img/prewiev.png">
		<span> - Кнопка предварительного просмотра, повзоляет просматривать данные из файла, но не загружать их в БД. Функционал системы предоставляет возможность добалять данные после просмотра (кнопка добавить данные в бд)</span>
	</div>

	<div class="Partinfo">
		<img src="~/img/File.png">
		<span> - Поле позволяет указывать файл с расширением XLSX </span>
	</div>

	<div class="Partinfo">
		<img src="~/img/donw.png">
		<span> - Кнопка для загрузки данных в БД</span>
	</div>

	<div class="Partinfo">
		<img src="~/img/AddClient.png">
		<span> - Система позволяет добавлять нового пользователя в БД </span>
	</div>

	<div class="Partinfo">
		<img src="~/img/EditAdd.png">
		<span> - Каждую запись в бд можно редактирвоать или удалить, изменение сразу записывается в бд </span>
	</div>



	<div class="Partinfo">
		<img src="~/img/InputEdit.png">
		<span> - При создании/реактировании данных, необходимо заполнить соответствующую форму. При редактирваонии нет необходимости заново вводить данные, старая инфомрация автоматически заполняется в поля</span>
	</div>


</div>